
h1{
    font-weight: 700;
    letter-spacing: 0.05rem;
    margin: 1rem;
    margin-bottom: 5rem;
    text-align: center;
}

input{
    height: 40px;
    border-radius: 10px;
    padding: 0.6rem;
    width: 60%;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
}

.text-input{
    width: 80%;
    min-width: 150px;
}

.items-container{
    text-align: left;
}
.button-style{
    min-width: 70px;
}

.display-output{    
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    font-weight: 500;
}

.row-style{
    margin: 10px 7px;
}
.container-flex{
    display: flex;
    margin-top: 2rem;
    justify-content: center;
    height: 100vh;
}
.to-do-container{
    border: 1px solid black;
    width: 70%;
    min-width: 350px;
    border-radius: 1.5rem;
    padding: 0.5rem;
}
.to-do-container-tasks{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.error-message{
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}