
h1{
    font-weight: 700;
    letter-spacing: 0.05rem;
    margin: 1rem;
    margin-bottom: 5rem;
    text-align: center;
}
input{
    width: 60%;
}

.items-container{
    text-align: left;
}
.button-style{
    min-width: 70px;
}

.row-style{
    margin: 10px 7px;
}
.container-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.to-do-container{
    border: 1px solid black;
    width: 70%;
    border-radius: 1.5rem;
    padding: 0.5rem;
}
.to-do-container-tasks{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.error-message{
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}