
h1{
    font-weight: 700;
    letter-spacing: 0.05rem;
    margin: 1rem;
    margin-bottom: 5rem;
    text-align: center;
}
input{
    width: 50%;
}

.items-container{
    text-align: left;
}
.button-style{
    min-width: 70px;
}

.row-style{
    margin: 10px 7px;
}

.to-do-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}